

.modal-bool {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactive {
    display: none;
}

.modal-bool .modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: lightgray;
    opacity: 50%;
}

.modal-bool .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-radius: 0.75rem;
    border: 0.5rem lightslategray solid;
    padding: clamp(0.5rem, 3%, 4rem);
    z-index: 20;
}

.modal-bool .modal-content .title {
    font-size: xx-large;
}

.modal-bool .modal-content .description{
    font-size: larger;
}

.modal-bool .modal-content .cta-buttons button{
    font-size: larger;
    padding: 0.5rem;
    height: 3.75rem;
    width: 6.5rem;
    margin: 0.5rem 1rem;
}